<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Recipe App</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <%- include('header.ejs') %>
    <h1>Welcome to My Recipe App</h1>
    <h2>Favorite Food and Cooking Experience</h2>
    <p>My favorite food is grilled chicken salad. I love cooking because it allows me to be creative and try new flavors. It's a great way to relax and unwind after a busy day.</p>
    <nav>
        <a href="home.ejs">Home</a> | 
        <a href="recipeList.ejs">Recipes</a> | 
        <a href="add-recipe.ejs">Add Recipe</a>
      </nav>
    <%- include('../partials/footer') %>
</body>
</html>