<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes - Recipe App</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <%- include('header') %>
    <h1>Recipes</h1>
    <nav>
      <a href="home.ejs">Home</a> | 
      <a href="recipeList.ejs">Recipes</a> | 
      <a href="add-recipe.ejs">Add Recipe</a>
    </nav>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li><a href="/recipe/<%= recipe.id %>"><%= recipe.name %></a></li>
        <% }) %>
    </ul>
    <%- include('../partials/footer') %>
</body>
</section>
